<p class="text-btg-05 pb-6 font-light text-lg/5">
  Reconocido en el país por su experiencia en los sectores financiero, económico
  y político. Sus múltiples publicaciones le han permitido destacarse como una
  persona de gran credibilidad y análisis en los más diversos panoramas
  macroeconómicos.
</p>
