<p class="text-btg-05 pb-6 font-light text-lg/5">
  Economista y analista con una destacada trayectoria en medios de comunicación
  y políticas públicas. Actualmente es Investigador Asociado de Fedesarrollo,
  consultor privado, analista del noticiero Red+ Noticias y realiza entrevistas
  dominicales para el periódico El Tiempo.
</p>
