<p class="text-btg-05 pb-6 font-light text-lg/5">
  Socia-Directora de Orza Relacionamiento Estratégico SAS desde 2017. Es abogada
  de la Universidad de los Andes, con especialización en Derecho Tributario de
  la Universidad del Rosario y MBA del MIT Sloan School of Management.
</p>
<p class="text-btg-05 pb-6 font-light text-lg/5">
  Cuenta con una trayectoria sólida en asuntos corporativos, sostenibilidad,
  relacionamiento con gobierno y comunidades, y es miembro de junta directiva de
  varias empresas como Origen, Soluna y el Grupo Invercolsa.
</p>
