<div class="text-center">
  <p class="font-light text-5xl mb-8">¡Estamos en vivo!</p>
  <p class="font-extralight text-4xl mb-13 text-balance">
    En segundos será redirigido al evento. También puede acceder en el siguiente
    botón:
  </p>
  <p>
    <a
      href="https://www.youtube.com/live/4QEjl5T0_m0"
      class="block bg-btg-3 hover:bg-btg-6 text-white font-semibold text-3xl w-85 h-13 mx-auto py-2 px-4 cursor-pointer"
    >
      Ingrese aquí
    </a>
  </p>
</div>
