<div>
	<div class="w-full h-3 bg-btg-6"></div>
	<div class="w-full h-2 bg-btg-4"></div>
	<div class="w-full h-1.5 bg-btg-2"></div>
	<div class="w-full h-1 bg-btg-1"></div>
	<div class="w-full h-0.5 bg-btg-0"></div>
</div>