---
interface Props {
  marginTop: string;
}

const { marginTop } = Astro.props as Props;

import Image from "astro/components/Image.astro";
import EventTitle from "@/assets/img--event-title.svg";
import Map from "@/assets/img--colombia-map.webp";
import Time from "@/assets/ico-hora.svg";
import Date from "@/assets/ico-fecha.svg";
---

<div class={`relative ${marginTop}`}>
  <p class="text-4xl pb-1 border-b-2 mb-12 w-fit">Evento virtual</p>
  <h2>
    <Image
      src={EventTitle}
      alt="Colombia frente al futuro, elecciones presidenciales 2026"
      class="title"
    />
  </h2>
  <p class="mt-17 flex items-center gap-4">
    <span><Date width={30} /></span>
    <span class="date pt-2 text-3xl md:text-[2.5rem]/10 font-light tracking-tight">
      Miércoles 4 de marzo
    </span>
  </p>
  <p class="mt-2 flex items-center gap-4">
    <span><Time width={30} /></span>
    <span class="date pt-2 text-3xl md:text-[2.5rem]/10 font-light tracking-tight"
      >4:00 pm</span
    >
  </p>
  <Image
    src={Map}
    alt="Mapa de Colombia"
    width={340}
    class="mx-auto hidden lg:block absolute -bottom-px m-0 left-0 right-0"
  />
</div>

<style>
  .title {
    width: clamp(20rem, 14.5217rem + 24.3478vw, 34rem);
  }

  .date {
    font-size: 1.5rem;

    @media (min-width: 768px) {
      font-size: clamp(2.125rem, 1.625rem + 0.7813vw, 2.25rem);
    }
  }
</style>
