<section class="bg-btg-4 px-5 py-9">
  <p class="max-w-300 mx-auto text-white text-center text-2xl/6 lg:text-[2rem]/8 text-balance">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo doloremque
    reprehenderit fugiat nam aut, reiciendis similique suscipit hic autem esse
    odit sed? Vero, sequi? Quis quia asperiores quo eveniet vero.
  </p>
</section>
