---
import AppleIcon from "@/assets/ico-apple.svg";
import GoogleIcon from "@/assets/ico-google.svg";
import OutlookIcon from "@/assets/ico-outlook.svg";
---

<section class="bg-btg-5 px-5 py-20">
  <div
    class="max-w-300 mx-auto flex flex-wrap justify-center items-center gap-20"
  >
    <p class="text-[1.75rem]/7">Agregue este evento a su calendario:</p>
    <div class="flex flex-wrap justify-center gap-5 md:gap-16">
      <a
        href="https://www.addevent.com/event/5xrzmg6hm3rs+apple"
        target="_blank"
        class="flex flex-col items-center gap-5"
      >
        <AppleIcon width={36} />
        <span>Apple</span>
      </a>
      <a
        href="https://www.addevent.com/event/5xrzmg6hm3rs+google"
        target="_blank"
        class="flex flex-col items-center gap-5"
      >
        <GoogleIcon width={44} />
        <span>Google</span>
      </a>
      <a
        href="https://www.addevent.com/event/5xrzmg6hm3rs+outlookcom"
        target="_blank"
        class="flex flex-col items-center gap-5"
      >
        <OutlookIcon width={45} />
        <span>Outlook.com</span>
      </a>
      <a
        href="https://www.addevent.com/event/5xrzmg6hm3rs+outlook"
        target="_blank"
        class="flex flex-col items-center gap-5"
      >
        <OutlookIcon width={45} />
        <span>Outlook</span>
      </a>
    </div>
  </div>
</section>
