<section class="bg-btg-9 pt-13.5 pb-11">
  <p class="font-light text-[2rem]/8 text-center text-balance max-w-200 mx-auto">
    Un espacio para comprender los escenarios políticos que marcarán el rumbo
    del país.
  </p>
</section>
